@mixin flexPosition($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin navigation {
  &-list {
    @include flexPosition(space-around);
    height: 100%;
  }

  &-item {
    list-style: none;
  }

  &-link {
    color: color(primary);
    text-decoration: none;
    font-size: size(sm);
    transition: all 0.3s;
    position: relative;

    .fa-angle-down {
      position: absolute;
      top: 2px;
      margin-left: 3px;
    }

    &:hover {
      color: lighten(color(primary), 40%);
    }
  }
}

@mixin hidden {
  visibility: hidden;
  opacity: 0;
}

@mixin visible {
  visibility: visible;
  opacity: 1;
}

@mixin footerList {
  &-heading {
    font-size: size(lg);
    color: color(primary);
  }

  &-item {
    list-style: none;
    margin: 1rem 0;
  }

  &-link {
    font-size: size(xs);
    text-decoration: none;
    color: lighten(color(primary), 15%);
    transition: color 0.2s;

    &:hover {
      color: lighten(color(primary), 35%);
    }
  }
}

@mixin response($breakpoint) {
  @if ($breakpoint == xl) {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if($breakpoint == lg) {
    @media (max-width: 1000px) {
      @content;
    }
  } @else if($breakpoint == md) {
    @media (max-width: 770px) {
      @content;
    }
  } @else if($breakpoint == sm) {
    @media (max-width: 560px) {
      @content;
    }
  }
}
