$colors: (
    primary: #333,
    secondary: #ffe,
    tertiary: #f2f0f1,
    quaternary: #f5b149
);

@function color($color-name){
    @return map-get($map: $colors, $key: $color-name)
};


$font-sizes: (
    xl: 3rem,
    lg: 2.5rem,
    md: 2rem,
    sm: 1.8rem,
    xs: 1.6rem
);

@function size($size){
    @return map-get($map: $font-sizes, $key: $size)
};

$animList: 1 0, 2 4s, 3 8s, 4 12s, 5 16s;

$socialMediaColors: 1 #3b5998, 2 #b31217, 3 #dc4e41, 4 #55acee, 5 #517fa4, 6 #0077b5;